:root {
  --color-background: #26282E;
  --color-background-button: #2E3139;
  --color-section-text: #BBBBBB;

  --color-user-change: #D30C63;
  --color-user-change-highlight: #F50E73;
  --color-idle-background: #30333b;

  --color-information: #0C82C6;

  --color-user-alert: #CF3214;
  --color-lightest: #BBBBBB;
  --color-light: #8594AE;
  --color-lighter: #707070;
  --color-mid: #434343;
  --color-dark: #1C1E24;
  --spacing-jog-button: 32px;
}

body {
  background-color: var(--color-background);
  color: var(--color-section-text);
}

input {
  font-size: 13px;
}

input::selection {
  color: var(--color-lightest);
  background: var(--color-user-change-highlight);
}

.panel {
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 60%);
  margin: 10px;
  padding: 16px 8px;

  display:block;
  position: relative;
}

.panel h1 {
  font-size: 20px;
  line-height: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  margin:0;
  /* margin-top: 1px; */
  margin-bottom: 2px;
}

.panel h2 {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
}

.panel button {
  background-color: var(--color-background-button);
  border-radius: 2px;
  border:0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 60%);
  /* padding: 8px; */
  width:28px;
  height: 28px;
  display:block;

}

a, a.hover {
  text-decoration: none;
  color: #FFF;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;

}

.App-logo {
  width: 75%;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  color: white;
  width: 20%;
  padding:0;
  margin:0;
  flex-grow: 0;
}

.App-link {
  color: #61dafb;
}

h1 h2 {
  padding-left: 0;
  margin: 0;
}

/* Page */
content {
  text-align: left;
  flex: grow;
  flex-grow: 9;
}


.page {
  text-align: left;
  width: 100%
}

.page .blocks {
  display: flex;
  flex-wrap: wrap;
}

.page .block {
  flex: grow;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.5em;
  border: 1px solid var(--color-dark);
  background-color: var(--color-mid);

  max-width: 200px;
  height: 200px;
  text-align: center;
  position: relative;
  border-radius: 3px;
}

.page .block:hover, .page .block:hover a {
  border-color: var(--color-highlight);
  color: var(--color-highlight);
}

.page .block a {
  color: var(--color-dark);
}

.page .block description {
  position:absolute;
  bottom: .25em;
  left:0;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;

}

.page .blocks .block img {
  width: 80%;
}


