@font-face {
    font-family: 'SourceSansPro';
    src: url(/fonts/SourceSansPro/SourceSansPro-Regular.ttf) format('truetype');
    font-weight: normal;
}

body {
  margin: 0;
  font-family: SourceSansPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
